# Ignore Visual Studio folders
.vs/


# Ignore build output
**/bin/
**/obj/



.vscode/*

!.vscode/extensions.json

.idea

*.suo

*.ntvs*

*.njsproj

*.sw?

*.tsbuildinfo

// Migrations
Infrastructure/Migrations